@model Ensek.Application.Accounts.Queries.Details.Model

<fieldset>
  <form method="post" asp-action="Update">
    <x-field>
      <label asp-for="Id"></label>
      <input asp-for="Id" readonly>
    </x-field>
    <x-field>
      <label asp-for="FirstName"></label>
      <input asp-for="FirstName">
    </x-field>
    <x-field>
      <label asp-for="LastName"></label>
      <input asp-for="LastName">
    </x-field>
    <x-field>
      <button>Save</button>
    </x-field>
  </form>
</fieldset>